---
import { IconPill } from "@solidComponents/solidComponents";
import GithubIcon from "@svelteComponents/GithubIcon.svelte";
import LinkedInIcon from "@svelteComponents/LinkedInIcon.svelte";
import LocationDotIcon from "@svelteComponents/LocationDotIcon.svelte";
import ThemeToggle from "@svelteComponents/ThemeToggle.svelte";

const styles = "pb-0";
const [base, scale] = [20, 3];
---

<nav class="flex flex-row items-center gap-5">
  <ThemeToggle client:only />
  <span class={styles}>
    <a target="_blank" href="https://www.github.com/chav-aniket">
      <GithubIcon client:load base={base} scale={scale} />
    </a>
  </span>
  <span class={styles}>
    <a target="_blank" href="https://www.linkedin.com/in/chavaniket/">
      <LinkedInIcon client:load base={base} scale={scale} />
    </a>
  </span>
  <span class={styles}>
    <IconPill class="rounded-full pr-1 pt-0.5 align-middle">
      <div class="pl-2">
        <LocationDotIcon
          client:load
          base={base + 20}
          scale={scale}
          style="inline py-2"
        />
        <span class="pr-4">Sydney, Australia</span>
      </div>
    </IconPill>
  </span>
</nav>

